div.container {
    width: 100%;
    border: 1px solid gray;
    background-color: #4CAF50;
    font-size: 16px;

}

header {
      padding: 10px;
      color: white;
      background-color: #b0bbb1;
      clear: none;
      text-align: center;
      font-family: serif;
      font-size: 21px;
}

nav {
      float: left;
      max-width: 242px;
      margin: 14px;
      padding: 2em;
}

nav Ol {
    list-style-type: none;
    padding: 0;
    color: white;
    font-size: 16px;
}

nav Ol a {
  font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: white;
    font-size: 16px;
}
ul li{
  color: #ff9100;
font-size: 24px
}
form{
  color: white;
  font-size: 16px;
}
body{
 font-family: 'Squada One';font-size: 22px;
 background-color: #4CAF50;

}
footer{

  padding: 10px;
  color: white;
  background-color: #1B5E20;
  clear: left;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}
